<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ppt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="wlecs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2013 Dark Gray</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.28.3.0" newVersion="3.28.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.3.0" newVersion="0.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <ppt.Properties.Settings>
      <setting name="DevcPresPort" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="DevcPresAddr1" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="DevcPresAddr2" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="DevcPresAddr3" serializeAs="String">
        <value>COM6</value>
      </setting>
      <setting name="DevcPresAddr4" serializeAs="String">
        <value>COM7</value>
      </setting>
      <setting name="DevcButtonAddr" serializeAs="String">
        <value>192.168.0.101</value>
      </setting>
      <setting name="DataSQLAddr" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="DataSQLPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSQLUser" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSQLPswd" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="MachCode" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="OrderDate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OrderSeqNo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSaveDay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSaveLaw" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DispChartCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispChartYMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispChartYMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasType" serializeAs="String">
        <value>M</value>
      </setting>
      <setting name="MeasStartTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasPoppTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasPoppValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasClosSTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasClosSValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasClosETime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasClosEValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasLeakValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeasLeakTime" serializeAs="String">
        <value>0</value>
      </setting>
    </ppt.Properties.Settings>
    <wlecs.Properties.Settings>
      <setting name="DevcPXPort" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="DevcPYPort" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="DevcPZPort" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="DevcTXPort" serializeAs="String">
        <value>COM6</value>
      </setting>
      <setting name="DevcTYPort" serializeAs="String">
        <value>COM7</value>
      </setting>
      <setting name="DevcTZPort" serializeAs="String">
        <value>COM8</value>
      </setting>
      <setting name="DevcWeldPort" serializeAs="String">
        <value>COM9</value>
      </setting>
      <setting name="DevcAdamAddr" serializeAs="String">
        <value>192.168.0.101</value>
      </setting>
      <setting name="DevcJogSpeed" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DataSQLAddr" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="DataSQLPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSQLUser" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSQLPswd" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="MachCode" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="AssyDate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AssySeqNo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSaveDay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataSaveLaw" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DispChartCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispChartYMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispChartYMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastItemCode" serializeAs="String">
        <value>260304-82136</value>
      </setting>
      <setting name="DevcPawTolc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DevcTigTolc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DevcPawGain" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DevcTigGain" serializeAs="String">
        <value>0</value>
      </setting>
    </wlecs.Properties.Settings>
  </userSettings>
</configuration>